html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
	color: #444;
	font-family: arial;
}

ul {
	list-style-type: none;
	padding: 0;
}

#content {
	padding: 5px;
}

header {
    margin-bottom: 5px;
}

#sidebar {
	float: right;
}

.channels {
    margin: 0;
}
.channels li {
    cursor: default;
    font-size: 14px;
	padding: 4px 7px;
	margin-right: 5px;
	background: #dedede;
}

.channels li.active {
    color: white;
    background: #74a8f5;
}

#sidebar .channels {
    display: block;
}

header .channels li {
    display: inline-block;
}
header .channels li .name {
    padding-right: 3px;
    border-right: 1px solid white;
}
header .channels li .close {
    cursor: pointer;
    display: inline-block;
    background: transparent url(images/close.png) no-repeat center center;
    width: 6px;
    height: 10px;
}

.channel {
    position: relative;
    margin-right: 75px;
}

.channel .output {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    overflow: auto;
}

.channel .nicks {
    float: right;
    width: 200px;
    overflow: auto;
    padding: 5px;
    margin: 0 0 5px 5px;
    border: 1px solid gray;
    display: none;
}

#prime-input {
    font-size: 15px;
    position: relative;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}