html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

/*
body {
	color: #444;
	font-family: arial;
}
*/

ul {
	list-style-type: none;
	padding: 0;
}

#content {
	padding: 5px;
}

header {
    margin-bottom: 5px;
}

#sidebar {
	float: right;
}

.frames {
    margin: 0;
}

/*
.frames li {
    cursor: default;
    font-size: 14px;
	padding: 4px 7px;
	margin-right: 5px;
	background: #dedede;
}

.frames li.active {
    color: white;
    background: #74a8f5;
}
*/

#sidebar .frames {
    display: block;
}

/*
header .frames li {
    display: inline-block;
}
header .frames li .name {
    padding-right: 3px;
    border-right: 1px solid white;
}
*/

.frame {
    position: relative;
    margin-right: 75px;
}

.frame .wrapper {
    position: relative;
}

.frame .output {
    font-size: 14px;
    border: 1px solid #444;
    padding: 5px;
    margin-bottom: 5px;
    overflow: auto;
    position: relative;
    z-index: 10;
}

.frame.channel .gutter {
    position: absolute;
    background-color: #e2e2e2;
    border-right: 1px solid #888;
    width: 110px;
    left: 0;
    top: 0;
    height: 100%;
}


.output .sender {
    color: #444;
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    z-index: 10;
}

.output .text {
    color: #222;
    display: block;
    margin-left: 115px;
    margin-bottom: 4px;
}

.output .text.no-sender {
    margin-left: 0;
}

.frame .nicks {
    float: right;
    width: 200px;
    overflow: auto;
    padding: 5px;
    margin: 0 0 5px 5px;
    border: 1px solid gray;
    display: none;
}

#prime-input {
    font-size: 15px;
    position: relative;
    width: 99%;
    bottom: 0;
}

/* Twitter Bootstrap overrides
----------------------------------------------------------------------*/

.pills > li { margin-right: 8px;}
.pills > li > * { float: left; }

.pills > li > a {
    cursor: pointer;
    background: #e2e2e2;
    padding: 0 12px;
    margin: 0 1px 0 0;
    border-radius: 3px;
}
.pills > li > a.channel,
.pills > li > a.pm {
    border-radius: 3px 0 0 3px;
}

.pills > li > .close-frame {
    cursor: pointer;
    background: #e2e2e2 url(images/close.png) no-repeat center center;
    width: 18px;
    height: 30px;
    border-radius: 0 3px 3px 0;
}

.pills .active .close-frame {
    background-color: #0069d6;
}

.pills > li:hover > a,
.pills > li:hover > .close-frame {
    background-color: #00438a;
}
